.pointer {
	cursor: pointer;
	opacity: .9;
	transition: all .3s ease;
	&:hover {
		opacity: 1;
	}
}

.btn-clean {
	background: transparent;
	padding: 0;
	margin: 0;
	display: inline-block;
	border: 0;
	outline: none;
}